{% extends 'base_template.html' %}

{% block title %}
    {{ user.get_username }}
{% endblock %}

{% block aside %}
    <div class="aside">
        {% include 'categories.html' %}
        {% include 'profile_nav.html' %}
        {% if purchases %}
            <div><h3>total sum: {{ sum | floatformat }} usd</h3></div>
            <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.basket.id }}
                {% include 'form_template.html' %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="content-header page-header"><h1>Basket</h1></div>
    <div class="cont">
        {% include 'purchases.html' %}
    </div>
{% endblock %}