<div class="aside">
    {% include 'categories.html' %}
    <div class="aside-content">
        {% verbatim %}
        <ul class="list-group" v-for="attr in attrs" v-cloak>
            <h4>
                {{ attr.attr }}
            </h4>
            <li v-for="opt in attr.opts" class="list-group-item option" v-bind:class="{active: opt.selected}"
                v-on:click="url = [opt.attr.attr, opt.opt]">
                <span class="badge">{{ opt.prod_num }}</span>
                <span>{{ opt.opt }}</span>
            </li>
        </ul>
        {% endverbatim %}
    </div>
</div>