{% extends "base_template.html" %}
{% block aside %}
    <div class="aside">
        {% include 'categories.html' %}
    </div>
{% endblock %}
{% block content %}
    <div class="content-header page-header"><h1>Top sales</h1></div>
    <div class="cont">
        {% include 'products.html' %}
        {% if recommended %}
            <div class="content-header page-header"><h1>Recommended</h1></div>
            {% include 'products.html' with products=recommended %}
        {% endif %}
    </div>
{% endblock %}

