{% extends "base_template.html" %}
{% block title %}Statistics{% endblock %}
{% block aside %}
    <div class="aside">
        {% include 'categories.html' %}
    </div>
{% endblock %}
{% block content %}
    <div class="statistics-row frame">
        <div>
            <div><h2>Category view for last 30 days</h2></div>
            <div class="btn-group" id="categories-button">
                <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Subcategory <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for cat in all_categories %}
                        <li class="dropdown-header">{{ cat }}</li>
                        {% for subcat in cat.get_subcategories %}
                            <li>
                                <a onclick="get_subcategory_manufacturer_stat('{{ subcat.name }}')">{{ subcat.name | title }}</a>
                            </li>
                        {% endfor %}
                        <li role="separator" class="divider"></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <canvas id="stat1" height="400" width="600"></canvas>
    </div>
    <div class="statistics-row frame">
        <h2>Proceeds for last 12 months</h2>
        <canvas id="stat2" height="400" width="600"></canvas>
    </div>
{% endblock %}
{% block script %}
    <script>
        let manufacturers
        let chart1

        let month = {% autoescape off %}{{ months_stat }}{% endautoescape %};
        let chart2 = new Chart(document.getElementById("stat2").getContext('2d'), {
            type: 'bar',
            data: {
                labels: month.reduce((acc, x) => {
                    acc.push(x.month + '.' + x.year)
                    return acc
                }, []),
                datasets: [{
                    label: 'sum',
                    data: month.reduce((acc, x) => {
                        acc.push(x.sum)
                        return acc
                    }, []),
                    backgroundColor: [...Array(month.length)].map(rand_col)
                }]
            },
            options: {
                responsive: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                    }]
                }
            }
        })
        function get_subcategory_manufacturer_stat(sc) {
            $.get("/statistics/" + sc, function (response) {
                manufacturers = JSON.parse(response)
                chart1 = new Chart(document.getElementById("stat1").getContext('2d'), {
                    type: 'pie',
                    data: {
                        labels: manufacturers.reduce((acc, x) => {
                            acc.push(x.manufacturer)
                            return acc
                        }, []),
                        datasets: [{
                            label: 'sum',
                            data: manufacturers.reduce((acc, x) => {
                                acc.push(x.sum)
                                return acc
                            }, []),
                            backgroundColor: [...Array(manufacturers.length)].map(rand_col)
                        }]
                    },
                    options: {
                        responsive: false,
                    }
                })
            })
        }
        function rand_col() {
            return '#' + ('000000' + ((1 << 24) * Math.random() | 0).toString(16)).slice(-6)
        }
    </script>
{% endblock %}
