{% extends "base_template.html" %}

{% block search %}
    {% include 'search.html' %}
{% endblock %}

{% block aside %}
    {% include 'aside_with_filters.html' %}
{% endblock %}

{% block content %}
    <div class="content-header page-header" v-cloak>
        <h1>{{ title | title }}</h1>{% include 'sort_dropdown.html' %}</div>
    <div class="cont" v-cloak>
        {% include 'products.html' %}
    </div>
{% endblock %}

{% block js %}
    <script>
        (function () {
            Vue.filter('title', w => w.replace(/\w/, c => c.toUpperCase()))
            let vue = new Vue({
                el: "#body",
                data: {
                    attrs: {% autoescape off %}{{ filters }}{% endautoescape %},
                    buttText: [
                        {val: 'price', text: 'From cheap to expensive'},
                        {val: 'pricedesc', text: 'From expensive to cheap'},
                        {val: 'rating', text: 'By rating'}
                    ],
                    searchText: ''
                },
                computed: {
                    url: {
                        get: function () {
                            let r = {}
                            if (location.search.length < 2)
                                return r
                            location.search.substr(1).split('&').forEach(s => {
                                let p = s.split('=')
                                if (!r[p[0]])
                                    r[p[0]] = {}
                                r[p[0]][p[1]] = true
                            })
                            return r
                        },
                        set: function (arr) {
                            attr = arr[0].toLowerCase()
                            opt = arr[1] ? arr[1].toLowerCase() : ''
                            let s = ""
                            if (!this.url[attr])
                                this.url[attr] = {}
                            this.url[attr][opt] = !this.url[attr][opt]
                            for (let a in this.url)
                                for (let o in this.url[a])
                                    if (this.url[a][o])
                                        s += a + '=' + o + '&'
                            if (s[s.length - 1] == '&')
                                s = s.substr(0, s.length - 1)
                            location.search = s
                        }
                    },
                    curSort: {
                        get: function () {
                            return 'sort' in this.url ? Object.keys(this.url['sort'])[0] : 'rating'
                        },
                        set: function (sortVal) {
                            delete this.url['sort']
                            this.url = ['sort', sortVal]
                        }
                    },
                    curSortText: function () {
                        return this.buttText.find(x => x.val == this.curSort).text
                    },
                    curSearch: {
                        get: function () {
                            return 'search' in this.url ? Object.keys(this.url['search'])[0] : ''
                        }, set: function (s) {
                            delete this.url['search']
                            this.url = ['search', s]
                        }
                    }
                },
                created: function () {
                    this.attrs.forEach(a => a.opts.forEach(o => {
                        o.selected = !!this.url[a.attr.toLowerCase()] && !!this.url[a.attr.toLowerCase()][o.opt.toLowerCase()]
                        o.attr = a
                    }))
                    this.searchText = this.curSearch
                },
            })
        })()
    </script>
{% endblock %}

