{% extends "base_template.html" %}
{% block content %}
    <div class="content-header page-header"><h1>Top sales</h1></div>
    <div class="cont">
        {% for product in products %}
            <div class="product frame">
                <a href="{% url 'product_info' product.id %}">
                    <div class="img-container">
                        <img src="{{ MEDIA_URL }}{{ product.title_image.img }}"
                             alt="there should have been an image...">
                    </div>
                    <div class="product-name">{{ product.name }}</div>
                </a>
                <div class="product-bar1">
                    <div class="product-price">{{ product.price | floatformat }} usd</div>
                    <div class="product-rating">{{ product.rating }}<span class="glyphicon glyphicon-star"></span></div>
                    <div class="product-comments-num">69 comments</div>
                </div>
                <div class="product-bar2">
                    <a href=""><span class="glyphicon glyphicon-heart"></span></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block aside_content %}
{#    {% for cat in ca%}#}
{#        <ul class="list-group">#}
{#            <li class="list-group-item">#}
{#                <span class="badge">14</span>#}
{#                Cras justo odio#}
{#            </li>#}
{#        </ul>#}
{#        <li role="separator" class="divider"></li>#}
{#    {% endfor %}#}
{% endblock %}

