{% extends "base_template.html" %}
{% block content %}
    <div class="content-header page-header"><h1>{{ subcategory.name.title }}</h1></div>
    <div class="cont">
        {% for product in products %}
            <div class="product frame">
                <a href="{% url 'product_info' product.id %}">
                    <div class="img-container">
                        <img src="{{ MEDIA_URL }}{{ product.title_image.img }}"
                             alt="there should have been an image...">
                    </div>
                    <div class="product-name">{{ product.name }}</div>
                </a>
                <div class="product-bar1">
                    <div class="product-price">{{ product.price | floatformat }} usd</div>
                    <div class="product-rating">{{ product.rating }}<span class="glyphicon glyphicon-star"></span></div>
                    <div class="product-comments-num">69 comments</div>
                </div>
                <div class="product-bar2">
                    <a href=""><span class="glyphicon glyphicon-heart"></span></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block aside_content %}
{% verbatim %}
{#        {% for attr, opts in filters.items %}#}
{#            <ul class="list-group">#}
{#                <h4>#}
{#                    {{ attr }}#}
{#                </h4>#}
{#                {% for opt in opts %}#}
{#                    <li class="list-group-item filter">#}
{#                        <span class="badge">{{ opt.prod_num }}</span>#}
{#                        {{ opt.opt }}#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endfor %}#}
    <ul class="list-griup" v-for="attr in filters">
        <h4>
            {{ attr.attr }}
        </h4>
    </ul>
    {% endverbatim %}
{% endblock %}

{% block js %}
    <script>
        (function () {
            var vue = new Vue({
                el: ".aside-content",
                data: {
                    filters: {% autoescape off %}{{ filters }}{% endautoescape %}
                }
            })
            var a = location.pathname.split('/')
            var filters = a[a.length - 1]

        })()

    </script>
{% endblock %}

