<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Store{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "node_modules/bootstrap/dist/css/bootstrap.min.css" %}">
    <script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "node_modules/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "node_modules/vue/dist/vue.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "base_css.css" %}">
    <script src="{% static "node_modules/vue/dist/vue.min.js" %}"></script>
</head>
<body>
<div id="body">
    <nav class="navbar navbar-inverse .navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">haven't actually come up with a name yet</a>
            <form class="navbar-form navbar-left" method="get" action="#">
                <input class="form-control" type="text" name="query" placeholder="Search">
                <input class="btn btn-default" type="submit" value="Go">
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </nav>
    <div class="aside">
        <div class="btn-group">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Catalogue <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% for cat in all_categories %}
                    <li class="dropdown-header">{{ cat }}</li>
                    {% for subcat in cat.get_subcategories %}
                        <li><a href="{% url 'subcategory_products' subcat.name %}">{{ subcat.name | title }}</a></li>
                    {% endfor %}
                    <li role="separator" class="divider"></li>
                {% endfor %}
            </ul>
        </div>
        <div class="aside-content">
            {% block aside_content %}{% endblock %}
        </div>
    </div>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    {% block js %}{% endblock %}
</div>
</body>
</html>