<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Store{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "node_modules/bootstrap/dist/css/bootstrap.min.css" %}">
    <script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "node_modules/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "node_modules/vue/dist/vue.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "base_css.css" %}">
    <script src="{% static "node_modules/vue/dist/vue.min.js" %}"></script>
    <script src="{% static "node_modules/chart.js/dist/Chart.min.js" %}"></script>
</head>
<body>
<div id="body">
    <nav class="navbar navbar-inverse .navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">haven't actually come up with a name yet</a>
            {% block search %}
            {% endblock %}
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <li><a href="{% url 'categories_cost_report' %}">1st report</a></li>
                        <li><a href="{% url 'categories_amount_report' %}">2st report</a></li>
                        <li><a href="{% url 'add_product' %}">Add product</a></li>
                        <li><a href="{% url 'statistics' %}">Statistics</a></li>
                    {% endif %}
                    <li><a href="{% url 'profile' %}">{{ user.get_username }}</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block aside %}{% endblock %}
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</div>
<script src="{% static 'base_js.js' %}"></script>
{% block script %}{% endblock %}
</body>
</html>