<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "node_modules/bootstrap/dist/css/bootstrap.min.css" %}">
    <script src="{% static "node_modules/vue/dist/vue.min.js" %}"></script>
</head>
<body>
<div class="navbar navbar-default">
    <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
    </ul>
    </div>
</div>
{% block content %} {% endblock %}
</body>
</html>