{% extends "base_template.html" %}
{% block title %}{{ product.name }}{% endblock %}
{% block aside %}
    {% include 'embeddable/aside.html' %}
{% endblock %}
{% block content %}
    <div class="content-header page-header"><h1>{{ product.name }}</h1></div>
    <div class="product-info-bar frame">
        <div class="img-container frame">
            <img src="{{ MEDIA_URL }}{{ product.title_image.img }}" alt="there should have been an image...">
        </div>
        <p class="purchase-product-bar">
            <span>{{ product.price }} USD</span>
            <a href="{% url 'purchase_product' product.id %}">Purchase</a>
        </p>
        <p>{{ product.description }}</p>
    </div>
    <div class="product-info-bar frame">
        {% for attr in attributes %}
            <div class="attr-val">
                {{ attr.name }}: {{ attr.val }}
            </div>
        {% endfor %}
    </div>
    <div class="product-info-bar">
        {% for image in images %}
            <img class="frame" src="{{ MEDIA_URL }}{{ image.img }}" alt="there should have been an image...">
        {% endfor %}
    </div>

{% endblock %}